################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/-1.14-windows.xml
/.afirma
/.android
/.bash_history
/.bito
/.cache
/.condarc
/.continuum
/.dotnet
/.eclipse
/.emulator_console_auth_token
/.gitconfig
/.gradle
/.lesshst
/.m2
/.modelio
/.nuget
/.openjfx
/.p2
/.packettracer
/.pdfbox.cache
/.ssh
/.VirtualBox
/.vs
/.vscode
/3D Objects
/AppData
/Cisco Packet Tracer 7.3.0
/config.txt
/Contacts
/Desktop
/Documents
/eclipse
/eclipse-workspace
/edb_pgjdbc.exe
/Favorites
/IdeaProjects
/Links
/MicrosoftEdgeBackups
/miguel@192.168.0.7
/miguel@192.168.0.83
/miguel@192.168.1.146
/miguel@192.168.1.164
/miguel@192.168.2.104
/modelio
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{f4d1ddc2-f453-11ed-9d59-b72572077201}.TM.blf
/NTUSER.DAT{f4d1ddc2-f453-11ed-9d59-b72572077201}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{f4d1ddc2-f453-11ed-9d59-b72572077201}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/Oracle
/Pictures
/Saved Games
/Searches
/Untitled.ipynb
/Videos
